src/main/resources/static/palinsesto.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="palinsesto">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="elemento" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="file" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="durata" type="xs:integer" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>